<h3><strong>User: </strong><%= @user.email %></h3>
<br />
<br />
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h4>My Wikis:</h4>
      <% @wikis.each do |wiki| %>
        <div class="row">
          <ul>
            <li><%= link_to wiki.title, wiki %></li>
          </ul>
        </div>
      <% end %>
    </div>
    <div class="col-sm-4">
      <div class="col-md-4">
        <h4>Collaborating Wikis:</h4>
        <% @collaborating_wikis.each do |collaborating_wiki| %>
        <div class="row">
          <ul>
            <li><%= link_to @wiki.title, wiki_path(collaborating_wiki) %></li>
          </ul>
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="col-md-4">
        <%= render partial: "charges/form", locals: {stripe_btn_data: @stripe_btn_data} %>
      </div>
    </div>
  </div>
</div>
